h1 {
    color: blue;
    text-align: center;
}

img {
    width: 70px;
    height: 70px;
}

button:hover {
    transform: scale(0.9);
    cursor: pointer;
    border: 2px solid red;
}

canvas {
    border: 2px solid red;
}

.container {
    display: flex;
    justify-content: center;
}