{% extends "body.html" %}{% block content %}
    <h1>All your memes</h1>
    <div class="container">
        <div id="saved-img-container">
        </div>

    </div>


<script>
//In HTML nür Container für Child element
//Javascript
// Link mit element von HTML doc
 let aindoc = document.getElementById('saved-img-container')
// Variable aus Server - local variable (gespeichert saved data)
 let dave = "{{ savedMeme }}"
// Es gibt eine Übersetzungs Fehler - bin nicht sicher warum aber muss ein Teil ersetzen
 dave=dave.replaceAll('&#39;','"')
// Von JSON in Objekt umwandeln
 let bob = JSON.parse(dave)
//neue Element geschrieben in doc mit eine Img Tag, data für Image Objekt kommt aus bob
 for(const data of bob){
    let imgelem = document.createElement("img");
    imgelem.src=data
    imgelem.width="250"
    imgelem.height="250"
    imgelem.style="margin: 10px"
    aindoc.appendChild(imgelem)}
</script>


{% endblock %}

