<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes today</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='look-general.css') }}">
</head>
<body>
    <div class="header">

        <h1>The Meme Generator</h1>
    </div>
    <div class="container">
        <a id="home" href="/"><button class="buttonDirector">HOME</button></a>
        <a id="saved" href="/saved/"><button class="buttonDirector">SAVED</button></a>
    </div>

{% block content %} {% endblock %}

<script>
    // Diese ist die Haupt-template für die Andere und gibt die MenuBar.
    // Andere Template kommt in den Teil "block" content
    // In den Head ist die CSS styles eingeladen.
</script>
</body>
</html>