{% extends "body.html" %}{% block content %}

<Script>
// HTML für die Thumbnails mit Python für jeder Bild in Objekt is ein Button ausgeführt mit die Bild
// Jeder Button ist in ein Form, mit Ankliken ist eine POST zu den Server geschicht.
</Script>


<form method ="post" action="/display/ ">
    <h2>Donald</h2>
    <div class="container">
        {% for entries in respdon  %}
            <button type="submit" name="submit-img" id="submit-img" value="{{ entries }}"><img  class="imghome" src="{{ entries.previewURL }}" alt="donald" /></button>
        {% endfor %}
    </div>
    <h2>Vlad</h2>
    <div class="container">
        {% for entries in respput %}
            <button type="submit" name="submit-img" id="submit-img" value="{{ entries }}"><img class="imghome" src="{{ entries.previewURL }}" alt="vlad" /></button>
        {% endfor %}
    </div>
    <h2>Angie</h2>
    <div class="container">
        {% for entries in respangie  %}
            <button type="submit" name="submit-img" id="submit-img" value="{{ entries }}"><img class="imghome" src="{{ entries.previewURL }}" alt="angie" /></button>
        {% endfor %}
    </div>

</form>



{% endblock %}