{% extends "body.html" %}{% block content %}
    <form method="POST">
         <h2>User Info</h2>
         <div class="container">
            <input type="text" name="personName" id="personName" placeholder="User Name">
        </div>
        <div class="container">
            <input type="password" name="pwd" id="pwd" placeholder="Password">
        </div>
        <div class="container">
            <button type="submit">LOGIN</button>
        </div>

        </form>
        <a id="confirmLogin" href="/"><button class="buttonDirector">ENTER</button></a>
{% endblock %}